<h2>Register</h2>

<main class="form-wrapper" role="main">

  <% if @errors %>
    <div class="errors-wrapper">
      <span>Registry failed:</span>
      <ul class="errors">
        <% @errors.each do |error| %>
          <li class="error"><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <%= form_for @user, url: {action: "create"} do |f| %>
    <label for="email_input">Name</label>
    <%= f.text_field(:fullname) %>
    <label for="email_input">Email</label>
    <%= f.email_field(:email) %>
    <label for="password_input">Password</label>
    <%= f.password_field(:password) %>
    <label for="password_confirmation_input">Password confimation</label>
    <%= f.password_field(:password_confirmation) %>
    <input type="submit" value="Register" class="button">
  <% end %>
</main>